.container-fluid{
    width: 75%;
    margin:0 auto;
    text-align: center;
}
.flex-blackjack-row-1,.flex-blackjack-row-2,.flex-blackjack-row-3{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
}
.flex-blackjack-row-1, .flex-blackjack-row-2,.flex-blackjack-row-3{
    background: url(images/blackjack_background.png) center;
    color: white;

}
.flex-blackjack-row-1 div{
    padding: 10px;
    height: 350px;
    flex: 1;
}
.flex-blackjack-row-2 div{
    padding: 10px;
}
.flex-blackjack-row-2 button{
    padding: 10px;
}
table, th, td{
    border:1px solid white;
    padding: 5px;
    align-self: start;
    color: white;
}